### Performing operations with real data set (From Kaggle)

In [89]:
import pandas as pd
import numpy as np

df = pd.read_csv(r"anime.csv")
df.head()

   Rank                                              Title  Score
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06
3     4  Gintama째TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05

This is the dataset on which we are going to perform operations

In [90]:
df.shape

(50, 3)

In [91]:
df.columns

Index(['Rank', 'Title', 'Score'], dtype='object')

In [92]:
df.describe()

           Rank     Score
count  50.00000  50.00000
mean   25.50000   8.88320
std    14.57738   0.11722
min     1.00000   8.71000
25%    13.25000   8.79000
50%    25.50000   8.85500
75%    37.75000   8.99000
max    50.00000   9.10000

In [93]:
df.isna().sum()

Rank     0
Title    0
Score    0
dtype: int64

In [94]:
df['Title'][5]

"Gintama'TV (51 eps)Apr 2011 - Mar 2012534,105 members"

### Feature extraction

In [95]:
# adding a new column storing the number of episodes
def extract_episodes (text): 
    data = ''
    check = False
    for i in text: 
        if i == ')': 
            break
        if i == '(': 
            check = True
            continue
        if check == True: 
            data += i
    return data

def extract_episode_number (text):
    text = text.replace("eps", "")
    return text

df['Episodes'] = df['Title'].apply(extract_episodes)
df['Episodes'] = df['Episodes'].apply(extract_episode_number)
df['Episodes'] = df['Episodes'].astype(int)

print(type(df['Episodes'][0]))

df.head()

<class 'numpy.int64'>

   Rank                                              Title  Score  Episodes
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10        64
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07        24
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06        13
3     4  Gintama째TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06        51
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05        10

### Finding Data

In [96]:
# finding the anime with highest anime count
df[df['Episodes'] == df['Episodes'].max()]

    Rank                                              Title  Score  Episodes
15    16  GintamaTV (201 eps)Apr 2006 - Mar 20101,034,41...   8.94       201

In [101]:
# Sorting the data based on episode count
df.sort_values(by="Episodes", ascending=False, inplace=True)
df

# Sorting the data based on score
df.sort_values(by="Score", ascending=False, inplace=True)
df.head()

   Rank                                              Title  Score  Episodes
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10        64
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07        24
3     4  Gintama째TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06        51
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06        13
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05        10

In [116]:
# Finding the second highest episodes count anime
top2 = df.nlargest(2, columns="Episodes" ).iloc[0]
top2

Rank                                                       16
Title       GintamaTV (201 eps)Apr 2006 - Mar 20101,034,41...
Score                                                    8.94
Episodes                                                  201
Name: 15, dtype: object

In [117]:
# anime with lowest episode count
df[df['Episodes'] == df['Episodes'].max()]

    Rank                                              Title  Score  Episodes
15    16  GintamaTV (201 eps)Apr 2006 - Mar 20101,034,41...   8.94       201